{% extends 'base.html' %}

{% block content %}

    <div class="bg-white pl-4 pr-4 pt-4 pb-4 mb-4"
         style="border-radius: 0.6vw; min-height: 95vh">

        <div class="container text-center">
            <p class="display-3">The Team</p>
            <hr>
        </div>

        <br>
        <br>

        <div class="row text-center mb-5">
            <div class="col-sm-4">
                <div class="card pb-4">
                    <div class="card-body">
                        <h5 class="card-title">Cody Richter</h5>
                        <hr>

                        <p class="card-text" style="font-size: 1.5em">
                            <b>School: </b> UMass Amherst <br>
                            <b>Year:</b> Rising Senior <br>
                            <b>Internship Team:</b> Stateflow Architecture
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card pb-4">
                    <div class="card-body">
                        <h5 class="card-title">Eli Nottonson</h5>
                        <hr>

                        <p class="card-text" style="font-size: 1.5em">
                            <b>School: </b> UMass Amherst <br>
                            <b>Year:</b> Rising Junior <br>
                            <b>Internship Team:</b> MATLAB Live Editor Tools Team
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card pb-4">
                    <div class="card-body">
                        <h5 class="card-title">Matt Bowring</h5>
                        <hr>

                        <p class="card-text" style="font-size: 1.5em">
                            <b>School: </b> University of New Hampshire <br>
                            <b>Year:</b> Rising Senior <br>
                            <b>Internship Team:</b> Modelling Framework Team
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center justify-content-center mb-5">
            <div class="col-sm-4">
                <div class="card pb-4">
                    <div class="card-body">
                        <h5 class="card-title">Laura Homiller</h5>
                        <hr>

                        <p class="card-text" style="font-size: 1.5em">
                            <b>School: </b> University of Texas <br>
                            <b>Year:</b> Rising First Year Master's <br>
                            <b>Internship Team:</b> Data Acquisition Toolbox
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card pb-4">
                    <div class="card-body">
                        <h5 class="card-title">Xingche Guo</h5>
                        <hr>

                        <p class="card-text" style="font-size: 1.5em">
                            <b>School: </b> University of Iowa <br>
                            <b>Year:</b> ??? <br>
                            <b>Internship Team:</b> ???
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}